@media (min-width: 320px) {
    .bio-container{
        height: 440px;
    
        .bio-category{
            margin-top: 42px;
        }
    }
}

@media (min-width: 768px) {
    .bio-container{
        height: 400px;

        .bio-category{
            margin-top: 16px;
        }
    }
}

.bio-container{
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
    .bio-header{
        width: 100%;
        height: 160px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .bio-name{
        font-weight: bolder;
        font-size: 28px;
        color: var(--white);
        position: absolute;
        margin-top: 15px;
        cursor: default;
    }

    .bio-photo{
        width: 160px;
        height: 160px;
        background-color: var(--white);
        border-radius: 50%;
        position: absolute;
        margin-top: 70px;
        border: 2px dashed var(--black);
        cursor: pointer;
        background-position: center;
        background-size: cover;

        &:hover{
            transition: .4s;
            filter: brightness(1.6);
        }
    }

    .bio-badge{
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        color: var(--white);
        box-sizing: content-box;
        padding: 4px 20px;
        font-weight: bold;
        font-size: 18px;
        cursor: default;
    }

    .bio-infos{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin-top: 20px;

        .bio-col{
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: default;

            .bio-label{
                color: var(--white);
                font-weight: bolder;
            }

            .bio-result{
                color: var(--gray);
                font-weight: 400;
            }
        }
    }

    .bio-category{
        color: var(--white);
        font-size: 22px;
        font-weight: bolder;
    }
}